/* game board styling */
.board {
	width: 99vw;
}
.board-row {
	width: 100%;
}
.blackSquare,
.redSquare {
	font-size: clamp(2.5rem, -1rem + 10vw, 10rem);
	display: inline-block;
	width: 12.5%;
	height: 12.5vw;
	float: left;
}
/* .redSquare:focus {
	opacity: .8;
} */
.blackSquare {
	background: black;
}
.redSquare {
	background: white;
}
.status {
	margin-bottom: 10px;
}
.endBtn {
	margin: 5% 0%;
}
/* menu screen styling */
#menu {
	background-color: rgb(255, 69, 69);
	border: solid 2px black;
	text-align: center;
	width: 100vw;
}
#hotseatBtn,
#hostBtn,
#joinBtn,
.endBtn {
	background-color: white;
	font-family: "Space Grotesk", normal;
	font-weight: 700;
	font-size: 25px;
	width: 200px;
	height: 70px;
	border-radius: 10px;
	border: solid black 3px;
}
#hotseatContainer {
	height: 300px;
}
#hotseatBtn {
	margin-top: 120px;
}
#deco {
	position: absolute;
	background-color: rgb(255, 69, 69);
	border-radius: 100px;
	border: solid 2px black;
	width: 200px;
	height: 200px;
	box-shadow: black 15px 15px 0px;
	animation: MoveUpDown 5s linear infinite;
}
#deco2 {
	position: absolute;
	margin: -70px 0px 0px 100px;
	background-color: rgb(0, 0, 0);
	border-radius: 100px;
	border: solid 2px rgb(255, 255, 255);
	width: 200px;
	height: 200px;
	box-shadow: black 15px 15px 0px;
	animation: MoveUpDown 5s linear infinite;
}
#decoImg {
	width: 150px;
	margin-top: 23px;
}
@keyframes MoveUpDown {
	0%,
	100% {
		transform: translate(80px, 100px);
	}
	50% {
		transform: translate(80px, 110px);
	}
}
@media (max-width: 1005px) {
	#deco,
	#deco2 {
		display: none;
	}
}
#multiplayerContainer {
	display: flex;
	background-color: black;
	height: 300px;
}
#hostContainer,
#joinContainer {
	flex: 1;
}
#hostBtn {
	margin-top: 120px;
}
#joinInput {
	font-family: "Space Grotesk", normal;
	font-weight: 700;
	font-size: 25px;
	height: 65px;
	width: 100px;
	padding: 0px 20px 0px 0px;
	margin-top: 120px;
	margin-right: -4px;
	border: none;
	border-radius: 10px 0px 0px 10px;
}
#joinBtn {
	border-radius: 0px 10px 10px 0px;
}
