/* game board styling */
.board-row {
	width: 100vw;
	max-width: 800px;
}
.blackSquare,
.redSquare {
	font-size: clamp(2rem, 1rem + 5vw, 4rem);
	display: inline-block;
	width: 12.5%;
	height: 12.5vw;
	max-height: 100px;
	float: left;
}
/* .redSquare:focus {
	opacity: .8;
} */
.blackSquare {
	background: black;
}
.redSquare {
	background: white;
	text-align: center;
	vertical-align: middle;
}
.status {
	margin-bottom: 10px;
}
.endBtn {
	margin: 20px 0%;
}
/* menu screen styling */
#menu {
	background-color: rgb(255, 69, 69);
	/* border: solid 2px black; */
	text-align: center;
}
#hotseatBtn,
#hostBtn,
#joinBtn,
.endBtn {
	background-color: white;
	font-family: "Space Grotesk", normal;
	font-weight: 700;
	font-size: 25px;
	width: 200px;
	height: 70px;
	border: solid black 3px;
}
#hotseatBtn:hover,
#hostBtn:hover,
#joinBtn:hover {
	background-color: rgb(220, 220, 220);
}
#hotseatContainer {
	height: 300px;
}
#hotseatBtn {
	margin-top: 120px;
}
#deco {
	position: absolute;
	background-color: rgb(255, 69, 69);
	border-radius: 100px;
	border: solid 2px black;
	width: 200px;
	height: 200px;
	box-shadow: black 15px 15px 0px;
	animation: MoveUpDown 5s linear infinite;
}
#deco2 {
	position: absolute;
	margin: -70px 0px 0px 100px;
	background-color: rgb(0, 0, 0);
	border-radius: 100px;
	border: solid 2px rgb(255, 255, 255);
	width: 200px;
	height: 200px;
	box-shadow: black 15px 15px 0px;
	animation: MoveUpDown 5s linear infinite;
}
#decoImg {
	width: 150px;
	margin-top: 23px;
}
@keyframes MoveUpDown {
	0%,
	100% {
		transform: translate(80px, 100px);
	}
	50% {
		transform: translate(80px, 110px);
	}
}
#multiplayerContainer {
	background-color: black;
	height: 300px;
}
@media (max-width: 1005px) {
	#deco,
	#deco2 {
		display: none;
	}
	#multiplayerContainer {
		height: 500px;
	}
}
@media (min-width: 1005px) {
	#multiplayerContainer {
		display: flex;
	}
	#hostContainer,
	#joinContainer {
		flex: 1;
	}
}
/* @media (min-width: 1400px) {
	#hotseatContainer, #multiplayerContainer, #menu {
		max-width: 1400px;
	}
} */
#hostBtn {
	margin-top: 120px;
}
#joinInput {
	all: unset;
	background-color: white;
	font-family: "Space Grotesk", normal;
	font-weight: 700;
	font-size: 25px;
	height: 64px;
	width: 150px;
	padding: 0px 20px 0px 0px;
	margin-top: 120px;
	margin-right: -4px;
	transform: translate(-5px, 1px);
	border: none;
	text-align: center;
}
